.layout--mobile
  display grid
  grid-template 'header' 'main' 'footer'
  grid-template-columns 1fr
  grid-template-rows auto 1fr auto

header
  grid-area header

main
  display flex
  flex 1
  grid-area main
  overflow hidden
  position relative

footer
  grid-area footer
  z-index 1
