// Global styles shared across all pages go here

// Variables
:root
  // color scheme red
  // --bg #db2323
  // --user-name-color #fff1d0
  // --track-name-color #fff
  // --equalizer-color #fff
  // --divider-line-color 255, 69, 0
  // // color scheme cyan
  // --bg #209586
  // // --user-name-color: #32313a;
  // --user-name-color #fff1d0
  // --divider-line-color 102, 188, 169
  // // color scheme light blue
  // --bg #6dd3ce
  // --user-name-color #fff1d0
  // // color scheme darker blue
  // --bg #1c5d99
  // --user-name-color #639fab
  // // color scheme lighter blue
  // --bg #ff3838
  // --user-name-color #fff1d0
  // --divider-line-color 255, 69, 244
  // color scheme dark
  // --background #30343f// enable
  // --user-name-color #1db954// enable
  // --equalizer-color var(--user-name-color)// enable
  // --divider-line-color 29, 185, 84
  --divider-line-color 29, 29, 29
  --divider-line-color-darker 15, 15, 15
  --navigation-height 50px
  --space__small 0.5rem
  // --track-name-color #fff // enable

html
  font-family Arial, sans-serif
  letter-spacing 0.003rem // make it look similar to ClearSans

html:not(.theme-loaded)
  display none

html.fonts-loaded
  font-family 'ClearSans', sans-serif
  letter-spacing 0

body
  margin 0
  overflow-y hidden

body>div
  background var(--background)
  box-sizing border-box
  display flex
  flex-direction column

html, body, body>div
  height 100%

[v-cloak]
  display none

// reset
p
  margin 0
