// hide ugly outline of elements, use something nicer instead for keyboard navigation
:focus
  outline none

::-moz-focus-inner
  border none

/* disable unintentional zooming on scroll container */
*
  touch-action pan-y

// Reset
img
  user-select none
