html[data-audio-player='chromecast'] #chromecast
  background var(--controlbar-icon-enabled-background)

// TODO combine with basic toggle play
$offset = 22.5px
$size = 55px

#chromecast
  background var(--controlbar-icon-disabled-background)
  border-radius 50%
  bottom $offset
  display flex
  height $size
  justify-content center
  left $offset
  position fixed
  width $size
  z-index 4
