// TODO combine with chromecast wrapper
$offset = 22.5px
$size = 55px

div
  align-items center
  background var(--controlbar-icon-enabled-background)
  border-radius 50%
  bottom $offset
  display flex
  height $size
  justify-content center
  position fixed
  right $offset
  width $size
  z-index 4

  svg
    fill var(--controlbar-icon-enabled-color)
