.layout--desktop
  display grid
  // grid-template 'activitybar' 'main' 'footer'
  grid-template-columns auto 1fr
  // grid-template-rows auto 1fr auto

main
  display flex
  flex 1
  overflow hidden
  position relative

footer
  z-index 1
